@import "../../../../../styles/variables/color.scss";
@import "../../../../../styles/variables/constants.scss";

.search-form {

  display: flex;
  justify-content: space-around;

  &__input {
    border: 2px solid $main-color-3;
  }

  &__button {
    align-self: center;
    height: 100%;
    border: none;
    border-radius: $border-radius;
    outline: none;
    color: $main-color-2;
    background-color: $button-color;
    margin: 0 5px;
    transition: $transition;

    &:hover {
      box-shadow: 0 5px 10px 0 rgba($color: $main-color-3, $alpha: 0.25);
    }

    &:active {
      background-color: $button-focused;      
    }
    
  }

}
