<div class="course" [appBorderColor]="course.creationDate">
  <figure>
    <img class="course__image" src="{{course.image}}" alt="course image">
    <figcaption>
      <div class="course__content">
        <div class="course__content__info info" routerLink="/courses/{{course.id}}">
          <h3 class="info__title">{{course.title | uppercase}}</h3>
          <div class="info__description">
            <span>{{course.creationDate | date}}</span>
            <span>{{course.duration | duration}}</span>
          </div>
        </div>
        <div class="course__top-rated" *ngIf="course.topRated">
          <i class="material-icons" [ngClass]="{'course__top-rated__icon': course.topRated}">star</i>
        </div>
        <div class="course__actions">
          <button class="button delete material-icons" (click)="onDeleteClick()">delete</button>
          <button class="button edit material-icons" (click)="onDeleteEdit()">edit</button>
        </div>
      </div>
    </figcaption>
  </figure>
</div>