@import "../../../../../styles/variables/color.scss";
@import "../../../../../styles/variables/constants.scss";

.course {
  background-color: $main-color-2;
  border-radius: $border-radius;
  overflow: hidden;

  figure {
    margin: 0;
  }

  figcaption {
    margin: 0;
    display: block;
  }

  &__image {
    height: auto;
    width: 100%;
    filter: contrast(70%);
    transition: $transition;
  }

  &__content {
    position: relative;

    &__info {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      padding: 15px;
    }

    &__info .info {
      &__title {
        color: $main-color-3;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 2px;
        line-height: 20px;
        margin: 0;
        height: 70px;
        text-align: center;
        padding: 0 10px;
      }

      &__description {
        span::before {
          content: "•";
          padding: 0 5px;
        }
      }

    }

    &:focus {
      outline: 0;
    }

  }

  &:hover {
    .course__image {
      filter: contrast(100%);
    }

    .course__actions {
      visibility: visible;
    }

  }

  &__actions {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    visibility: hidden;
  }

  &__top-rated {
    position: absolute;
    top: 0;
    padding: 5px;

    &__icon {
      color: $title-color;
      cursor: context-menu;
    }
  }
}

.new {
  box-shadow: none;
  border: 3px solid $new-course-color-2;
}

.upcoming {
  box-shadow: none;
  border: 2px solid $upcoming-course-color-2;
}
