@import "../../../../../styles/variables/color.scss";
@import "../../../../../styles/variables/constants.scss";

.course {

  display: flex;
  flex-direction: column;
  background-color: $elements-bg;
  border-radius: $border-radius;
  box-shadow: 0 20px 40px -14px rgba($color: $main-color, $alpha: 0.25);

  &__content {
    display: inherit;
    flex-direction: column;

    &__image {
      height: auto;
      max-width: 100%;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      filter: contrast(70%);
      transition: $transition;
    }

    &__info, .info {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      padding: 1rem;

      &__title {
        color: $main-color;
        font-size: 1em;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
      }

    }

    &:focus {
      outline: 0;
    }

  }

  &:hover {

    .course__content {

      &__image {
        filter: contrast(100%);
      }

    }

    .course__actions {
      visibility: visible;
    }

  }

  &__actions {
    position: absolute;
    -ms-transform: translate(930%, -740%);
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    visibility: hidden;

    &__button {
      background: transparent;
      border: none;
      outline: none;
      color: $main-color;
      transition: $transition;

      &:hover {
        color: $second-color;
      }

    }

  }

}
