@import "../../../styles/variables/color.scss";

.footer {

  display: flex;
  justify-content: space-between;
  background-color: $elements-bg;
  box-shadow: 0 0 5px rgba($color: $main-color, $alpha: 0.25);

  &__content {
      margin-left: 10px;
  }

}
