@import "../../../styles/variables/color.scss";

.header {

  display: flex;
  justify-content: space-between;
  background-color: $elements-bg;
  box-shadow: 0 0 0.1em rgba($color: $main-color, $alpha: 0.25);

  &__logo, .logo {
    display: inherit;
    cursor: pointer;

    &__image {
      margin: 0 1rem;
      max-height: 50px;
      align-self: center;
    }

    &__title {
      color: $title-color;
      text-transform: uppercase;
    }

    &:focus {
      outline: 0;
    }

  }

  &__menu, .menu {
    display: inherit;
    align-self: center;
    justify-content: space-around;

    &__list {
      list-style: none;
      padding: 0;

      &__item {
        display: inline;
        padding: 0 1rem;
      }

    }

    &__link {
      text-decoration: none;
      color: $main-color;

      &.active {
        color: $active-link-color;
        border-bottom: 2px solid $active-link-color;
        font-weight: 300;
      }

      &:hover {
        color: $second-color;
      }

    }

  }

}
