.list {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    display: flex;
    padding: 1rem;
    width: calc(100% / 3.5);

  }
}
