<header class="header">
  <div class="header__logo logo" routerLink="/">
    <img
      class="logo__image"
      src="https://cdn.worldvectorlogo.com/logos/angular-icon.svg"
      alt="angular logo">
    <h1 class="logo__title">title</h1>
  </div>
  <nav class="header__menu menu">
    <ul class="menu__list">
      <li class="menu__list__item" *ngIf="isAuthenticated">
        <a
          class="menu__link"
          routerLink="/user"
          routerLinkActive="active">
          {{login}}
        </a>
      </li>
      <li class="menu__list__item" *ngIf="!isAuthenticated">
        <a
          class="menu__link"
          routerLink="/sign-in"
          routerLinkActive="active">
          sign-in
        </a>
      </li>
      <li class="menu__list__item" *ngIf="isAuthenticated">
        <a
          class="menu__link"
          (click)="onLogOut($event)">
          sign-out
        </a>
      </li>
    </ul>
  </nav>
</header>
