@import "../../../../../styles/variables/color.scss";

%placeholder {
  top: 0;
  cursor: inherit;
  font-size: 14px;
  color: $main-color-4;
}
  
fieldset {
  border: none;
}

.form ::ng-deep {


  label {
    position: relative;
    display: flex;
    min-height: 35px;
    margin: 10px 0;
    
    input,
    textarea {
      outline: none;
      margin-top: 10px;
      background-color: transparent;
      width: 100%;
      border: none;
      border-radius: 0;
      border-bottom: 2px solid $main-color-3;

      &[type="date"] {
        padding-left: 40px;
      }

      &::-webkit-datetime-edit-year-field:not([aria-valuenow]),
      ::-webkit-datetime-edit-month-field:not([aria-valuenow]),
      ::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
          color: transparent;
      }

      &[type="date"]:focus,
      &[type="date"].ng-valid,
      &[type="date"].ng-invalid.ng-touched,
      &[type="date"].ng-invalid.ng-dirty {
        padding-left: 5px;
      }
      
      &:focus,
      &.ng-valid{
        box-shadow: none;
        border-color: $main-color-4;
      }

      &.ng-valid+.placeholder{
        @extend %placeholder;
      }
      
      &:focus+.placeholder {
        @extend %placeholder;
      }

      &.placeholder {
        @extend %placeholder;
      }

      &.ng-invalid {
        &.ng-touched {
          border-color: $input-invalid;
          &+.placeholder {
            color: $input-invalid;
            @extend %placeholder;
          }
        }
        &.ng-dirty {
          border-color: $input-invalid;
          &+.placeholder {
            color: $input-invalid;
            @extend %placeholder;
          }
        }
      }
    }
    
    textarea {
      resize: none;
      min-height: 50px;
    }
    
    .placeholder {
      position: absolute;
      display: block;
      top: 15px;
      left: 2px;
      z-index: 1;
      font-size: 16px;
      transition: all 200ms ease-in-out;
      width: 100%;
      cursor: text;
    }

    .error {
      position: absolute;
      top: 0;
      right: 5px;
      font-size: 14px;
      color: $input-invalid;
    }

  }

  .description {
    min-height: 80px;
  }

}
