@import "../../../styles/variables/color.scss";

.breadcrumps-list {

  list-style: none;
  padding: 0;
  margin: 0 0 0 1.5rem;
  padding: 10px 0;

  &__element {
    display: inline;
    padding: 0 1.4em 0 0;
  }

  &__link {
    text-decoration: none;
    color: $second-color;
  }

}
