$main-color-1: #f8f9fb;
$main-color-2: #ffffff;
$main-color-3: #7D7C7D;
$main-color-4: #1e90ff;

$button-color: #1e90ff;
$button-color-cancel: #fe7f64;
$button-focused: #7bc4ef;

$title-color: #fe7f64;
$active-link-color: #000000;

$new-course-color-1: #73ff00;
$new-course-color-2: #05e04e;
$upcoming-course-color-1: #5bd9ff;
$upcoming-course-color-2: #003cff;

$input-invalid: #dd1b16;