<label>
  <input
    [ngModel]="course.date | date:'yyyy-MM-dd'"
    (ngModelChange)="course.date = $event"
    #formProps="ngModel"
    [ngClass]="{ invalid: formProps.valid || (formProps.dirty || formProps.touched) }"
    name="date"
    required
    type="date">
    <span class="placeholder">Date</span>
    <div *ngIf="formProps.invalid && (formProps.dirty || formProps.touched)" class="error">
      <div *ngIf="formProps.errors.required">
        Date is required.
      </div>
    </div>
</label>
