<div class="container">
    <form *ngIf="course" (ngSubmit)="onSave()" id="course-form" #form="ngForm">
      <div class="form">
        <div class="form__input">
          <label>
            <input class="input" 
              name="title" type="text" 
              required [(ngModel)]="course.title">
            <span class="form__input__placeholder">Title</span>
          </label>
        </div>
        <div class="form__input">
          <label>
            <input class="input"
              name="creationDate" type="date" required
              [ngModel]="course.creationDate | date:'yyyy-MM-dd'" (ngModelChange)="course.creationDate = $event">
            <span class="form__input__placeholder">Date</span>
          </label>
        </div>
        <div class="form__input">
          <label>
            <input class="input" 
              name="duration" type="number"
              required [(ngModel)]="course.duration">
            <span class="form__input__placeholder">Est. Hours</span>
          </label>
        </div>
        <div class="form__input">
            <label class="description">
              <textarea class="input" 
                name="description" type="text"
                required [(ngModel)]="course.description"></textarea>
              <span class="form__input__placeholder">Description</span>
            </label>
          </div>
      </div>
      <div class="modal-actions">
        <button
            type="submit"
            form="course-form"
            class="modal-actions__button confirm"
            [ngClass]="{invalid: form.invalid}"
            [disabled]="form.invalid">Save
        </button>
        <button
            type="button"
            class="modal-actions__button cancel"
            (click)="onCancel()">Cancel
        </button>
      </div>
    </form>
</div>