@import "./styles/variables/color.scss";

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Roboto");
}

*,
*:before,
*:after { 
  box-sizing: border-box;
}

body {
  background-color: $main-bg;
  margin: 0;
}
