@import "./styles/variables/color.scss";
@import "./styles/variables/constants.scss";

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Roboto");
}

html {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $main-color-1;
}

body.modal-opened {
  overflow: hidden;
}

.button {
  display: block;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  color: $main-color-3;
  transition: $transition;

  &:hover {
    color: $main-color-4;
  }

  &.cancel:hover {
    color: $button-color-cancel;
  }
}

.overlay {
  position: fixed;
  top: 0px;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: $main-color-1;
  padding: 10px;
  border-radius: $border-radius;
  width: 400px;
  &__header {
    display: flex;
    width: 100%;

    &__title {
      margin: 0;
      margin-top: 25px;
      text-align: center;
      width: 100%;
    }

    .button {
      position: absolute;
    }
  }
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  &__button {
    padding: 5px 10px;
    align-self: center;
    height: 100%;
    border: none;
    border-radius: $border-radius;
    outline: none;
    color: $main-color-2;
    margin: 0 5px;
    transition: $transition;
    &.confirm {
      background-color: $button-color;
    }
    &.cancel {
      background-color: $button-color-cancel;
    }
    &.invalid {
      background-color: $main-color-3;
    }
    &:hover {
      box-shadow: 0 5px 10px 0 rgba($color: $main-color-3, $alpha: 0.25);
    }
    &:active {
      background-color: $button-focused;
    }
  }
}

input {
  border-radius: $border-radius;
  outline: none;
  padding: 5px;
  box-sizing: border-box;
  transition: $transition;
  border: 1px solid $main-color-3;

  &::-ms-clear {
    display: none;
  }

  &:focus {
    border-color: $main-color-4;
    box-shadow: 0 0 5px $main-color-4;
  }
}