@import "./styles/variables/color.scss";

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Roboto");
}

html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $main-bg;
  margin: 0;
}
