@import "../../../../../styles/variables/color.scss";
@import "../../../../../styles/variables/constants.scss";

:host {
  width: 100%;
}

.home-layout {

  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 170px);
  
  &__tools {
    display: flex;
    justify-content: flex-end;
    margin: 5px 0;
  }
  
  .tools-panel {
    
    &__tool {
      display: flex;
      margin: 0 5px;
    }
    
  }
  
  .add-course {
    text-decoration: none;
    
    &__icon {
      align-self: center;
    }
    
    &__title {
      margin: 0;
      align-self: center;
    }
    
  }
  
  &__load-button {
    align-self: center;
    margin: 10px;
    margin-top: auto;
    border: none;
    padding: 10px;
    
    &:focus {
      outline: 0;
    }
  
  }

}

button, .add-course {
  border-radius: $border-radius;
  background: $button-color;
  color: $main-color-2;
  padding: 0 5px;
  transition: $transition;
  
  &:hover {
    box-shadow: 0 5px 10px 0 rgba($color: $main-color-3, $alpha: 0.25);
  }

  &:active {
    background-color: $button-focused;
  }
  
}
