@import "../../../../../styles/variables/color.scss";
@import "../../../../../styles/variables/constants.scss";

:host{
  display: flex;
  justify-content: center;
  align-items: center;
  .container {
    background-color: $main-color-1;
    padding: 10px;
    border-radius: $border-radius;
    &__actions {
      display: flex;
      justify-content: flex-end;
      &__button {
        align-self: center;
        height: 100%;
        border: none;
        border-radius: $border-radius;
        outline: none;
        color: $main-color-2;
        margin: 0 5px;
        transition: $transition;
        &.confirm {
          background-color: $button-color;
        }
        &.cancel {
          background-color: $button-color-cancel;
        }
        &:hover {
          box-shadow: 0 5px 10px 0 rgba($color: $main-color-3, $alpha: 0.25);
        }
        &:active {
          background-color: $button-focused;
        }
      }
    }
  }
}